# Environments
.env
.venv
env/
venv/
__pycache__/
.ipynb_checkpoints/

# Data
# We often ignore large data files. For this project, our data is small,
# but this is best practice. We will add the actual data folder later.
/data/

# IDE and OS specific
.vscode/
.idea/
*.DS_Store